#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media (min-width: 576px) {
  .sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media (min-width:768px) {
  #wrapper {
    padding-left: 250px;
  }
}

@media (min-width:768px) {
  #sidebar-wrapper:hover {
    width: 100%;
    float: left;
    font-family: 'Roboto';
    font-weight: 100;
    transition: 1s;
  }
}

@media (min-width:768px) {
  #sidebar-wrapper {
    width: 250px;
    float: left;
    font-family: 'Roboto';
    font-weight: 100;
    /*display: none;*/
  }
}

.btn {
  color: rgb(255,255,255);
  margin-left: -12px;
  font-family: 'Roboto';
  font-weight: 100;
  font-size: 20px;
}

.btn :hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255,255,255,0.2);
}

.dropdown-item {
  color: rgb(149,97,97);
}

.wrap {
  font-size: 22px;
  display: inline;
  color: rgba(255,255,255,0);
}

.a {
  text-decoration: none;
  color: #ffffff;
}

.container {
  font-size: 24px;
  padding: 5px;
  background-color: rgba(255,255,255,0);
  text-align: center;
  border: none;
  font-weight: 500;
}

.list2 {
  display: none;
  background-color: rgba(255,255,255,0);
  position: relative;
  left: 0;
  border: none;
  height: auto;
  margin-top: -2px;
  font-size: 15px;
  color: black;
  font-weight: 600;
}

.list3 {
  display: none;
  background-color: rgba(255,255,255,0);
  position: relative;
  left: 0;
  border: none;
  height: auto;
  margin-top: -2px;
  font-size: 15px;
  color: black;
  font-weight: 600;
}

.list3 {
  display: none;
  background-color: rgba(255,255,255,0);
  position: relative;
  left: 0;
  border: none;
  height: auto;
  margin-top: -2px;
  font-size: 15px;
  color: black;
  font-weight: 600;
}

.item3 {
  display: none;
}

.item:hover .list2 {
  display: block;
  color: rgba(255,255,255,0);
}

.item:hover .list3 {
  display: block;
  color: rgba(255,255,255,0);
}

.items {
  border: none;
  height: auto;
}

.wrap:hover .list {
  background-color: rgba(255,255,255,0);
  display: block;
  border: none;
}

.item {
  border: none;
  height: auto;
  color: #ffffff;
}

.list {
  position: relative;
  width: auto;
  height: auto;
  display: none;
  color: rgb(255,255,255);
}

.list .a:hover {
  color: #000;
}

.btn3 {
  text-decoration: none;
  border: none;
  color: #ffffff;
  background-color: transparent;
}

.sudopere-dropdown {
}

